:root {
  --mainBlack: #222;
  --mainGreen: #83b340;
  --mainWhite: #fff;
  --mainGrey: #ececec;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: var(--mainWhite);
  color: var(--mainBlack);
}
